.alertwrapper {
    position: absolute;
    display: flex;
    background-color: "#22292A";
    font-size: 15px;
    text-Align: center;
    padding-Left: 30px;
    padding-Right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}