.sidebar-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  
    .sidebar-btn {
      width: 40px;
      border-radius: 40px;
      // background: rgba(255, 255, 255, 0.05);
      background: linear-gradient(0deg, rgba(255,255,255, 0.05), rgba(255,255,255, 0.05));
      color: #adadad;
      text-decoration: none;
      margin: 0 auto;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-overflow: ellipsis;
      overflow: hidden;
      transition: 0.3s;
  
      &:hover {
        background: linear-gradient(195deg, #7B4CE4, #D81B60);
        transition: 0.3s;
      }
    }
  }
  
  .pro-menu-item {
    &:hover {
      background-color: #555555;
      transition: 0.3s;
    }
  }
  
  .highlight-on {
    width:100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 35px 12px 20px;
    cursor: pointer;
    background: linear-gradient(195deg, #7B4CE4, #D81B60);
    text-decoration-line: none;
    font-size: 15px;
    transition: 0.3s;

    .highlight-icon{
      position: relative;
      display: inline-flex;
      width: 35px;
      height: 35px;
      background-color: #2B2B2B;
      align-items: center;
      text-align: center;
      border-radius: 4px;
      text-decoration: none;
      color: #ffffff;
      justify-content: center;
      margin-right: 10px;
    }

    .highlight-text{
      position: relative;
      display: flex;
      text-decoration: none;
      color: #ffffff;
      justify-content: left;
      vertical-align: middle;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 0;
    }
  }
  
  .highlight-off {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 35px 12px 20px;
    cursor: pointer;
    text-decoration-line: none;
    transition: 0.3s;
    font-size: 15px;
    transition: 0.3s;

    .highlight-icon{
      position: relative;
      display: inline-flex;
      width: 35px;
      height: 35px;
      background-color: #2B2B2B;
      align-items: center;
      text-align: center;
      border-radius: 4px;
      text-decoration: none;
      color: #ADADAD;
      justify-content: center;
      margin-right: 10px;
    }

    .highlight-text{
      position: relative;
      display: flex;
      text-decoration: none;
      color: #ADADAD;
      justify-content: left;
      vertical-align: middle;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 0;
    }

    &:hover {
      background-color: #555555;
      transition: 0.3s;
    }
  }